{% extends 'finanzas/index.html' %}
{% block title %}Agregar Transacción{% endblock %}

{% block content %}
    <h2 class="mb-4">Agregar Nueva Transacción</h2>
    <form method="post" class="card card-body shadow-sm">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
{% endblock %}