{% extends 'base.html' %}

{% block title %}Sobre Mí{% endblock %}

{% block content %}
    <div class="container py-5">
        <header class="text-center mb-5">
            <h1 class="display-4 fw-bold">Sobre Mí</h1>
            <p class="lead text-muted">Conozca más sobre mi formación y experiencia.</p>
        </header>
        
        <main>
            <section class="bg-light p-4 rounded shadow-sm mb-5">
                <h2 class="h3 mb-3">Licenciado en Administración de Empresas</h2>
                <p>Hola, soy Lautaro Morales, Licenciado en Administración de Empresas, graduado de la Universidad Nacional de Mar del Plata. A lo largo de mi carrera universitaria y profesional, he adquirido conocimientos sólidos en:</p>
                <ul class="list-unstyled">
                    <li><i class="bi bi-1-circle"></i> ● Gestión Empresarial</li>
                    <li><i class="bi bi-2-circle"></i> ● Finanzas y Contabilidad</li>
                    <li><i class="bi bi-3-circle"></i> ● Liderazgo y Trabajo en Equipo</li>
                </ul>
                <p>Mi objetivo es aplicar estos conocimientos para generar valor en las organizaciones y contribuir a su crecimiento de manera innovadora y eficiente.</p>
            </section>
        </main>
        
        <footer class="text-center">
            <p>&copy; 2025 Lautaro Morales. Todos los derechos reservados.</p>
        </footer>
    </div>
{% endblock %}